# Database Configuration
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=devdb
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_SSL_MODE=disable

# Server Configuration
SERVER_PORT=8080
SERVER_CONTEXT_PATH=/egov-url-shortening
HOST_NAME=https://egov.in

# Multi-Tenant
MULTI_INSTANCE=false
STATE_LEVEL_TENANT_ID=pb
EGOV_UI_APP_HOST_MAP={"pb": "https://pb.egov.in", "ap": "https://ap.egov.in", "mh": "https://mh.egov.in"}

# Key Generation
MIN_LENGTH=4
